    @charset "utf-8";
    @import url("/css/normalize.css");
    @import url("/css/fonts.css");
    /* Box-Sizing */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    /* CSS Reset */
    
    html,body,button,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset, form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* Grid System */
    
    .col-1 {width: 120px;}
    .col-2 {width: 240px;}
    .col-3 {width: 360px;} 
    .col-4 {width: 480px;}
    .col-5 {width: 600px;}
    .col-6 {width: 720px;}
    .col-7 {width: 840px;}
    .col-8 {width: 960px;}

    /* @media only screen and (max-width: 460px){
        .mall{width: 320px;}
        .m-col-1{width:80px;}
        .m-col-2{width:160px;}
        .m-col-3{width:240px;}
        .m-col-4{width:320px;}
    } */
    /* Hidden Contents */
    
    .readable-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
    }
    /* Clearfix */
    .clearFix::after{
        content: "";

    }
    /* Link Style */
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a:hover,
    a:focus {
        border: #f00;
    }
    /* List Style */
    
    li {
        list-style: none;
    }
    /* Mall Style */
    
    .mall {
        max-width: 960px;
        margin: 0 auto;
        height: auto;
        background: #dfdfdf;
    }
    /* Product-List-Top Style */
    .product-list-top-2{
        z-index: 1;
    }
    .product-list-top li {
        position: relative;
        font-family: "Varela-Round";
        text-align: center;
        float: left;
        height: 360px;
        z-index: 2;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
    }
    .product-list-top li:nth-child(1){
        border-left: 1px solid #ececec;
    }
    
    .product-list-top li>h3 {
        font-size: 12px;
        line-height: 16px;
        min-height: 29px;
        max-width: 170px;
        display: block;
        margin: 29px auto 49px auto;
    }
    
    .product-list-top img {
        /* max-height: 100%;
        max-width: 100%;  이미지 크기 자동 조정*/
        text-align: center;
        margin: 0 auto;
    }
    
    .product-list-top span {
        display: block;
        margin: 63px auto 29px auto;
        font-family: "Oswald-Bold";
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    /* Product-List-Top Each Style */
    
    .product-list-top span::before {
        content: "";
        position: absolute;
        width: 34px;
        height: 19px;
        left: 20px;
        transform: translateY(1px);
    }
    
    .product-list-top-1 span::before {
        background: url('/images/hit.png') no-repeat;
    }
    
    .product-list-top-2 span::before {
        background: url('/images/sale.png') no-repeat;
    }
    
    .product-list-top-4 span::before {
        background: url('/images/new.png') no-repeat;
    }
    
    /* Product-Clicked */
    .product-clicked {
        position: absolute;
        content: "";
        display: none;
        width: 240px;
        height: 360px;
        background: darkblue;
        font-size: 12px;
        z-index: 30;
    }
    .product-clicked-buttons{
       margin-top: 161px;
    }

    /* wish-list Style*/
    
    .wish-container {
        float: left;
        padding: 15px 0;
        background: #dfdfdf;
    }
    
    .wish-list li {
        display: block;
        float: left;
        width: 76%;
        min-height: 120px;
        border-top: 1px solid #ececec;
        margin: 0 12.5%;
        background: #ffffff;
    }
    
    .wish-list img {
        float: left;
        margin: 15px;
    }
    
    .wish-list h3 {
        font-family: "Varela-Round";
        font-size: 12px;
        line-height: 16px;
        max-width: 155px;
        height: 90px;
        margin-left: 4%;
        margin-top: 15px;
        float: left;
    }
    
    .wish-list h3>span {
        display: block;
        font-family: "PT-Serif";
        font-size: 12px;
        line-height: 18px;
        color: #b8b8b8;
        margin-top: 16px;
    }
    
    .wish-list>li>span {
        font-family: "Oswald-Bold";
        font-size: 14px;
        letter-spacing: 1.4px;
        width: 32px;
        height: 90px;
        margin-left: 11%;
        margin-top: 15px;
        float: left;
        position: relative;
    }
    
    .wish-list-1>span::after {
        background: url("/images/new.png") no-repeat;
        display: inline-block;
        content: "";
        width: 34px;
        height: 19px;
        margin-top: 23px;
    }
    
    .wish-list-2>span::after {
        content: "$160";
        width: 66px;
        height: 19px;
        color: #a1a1a1;
        font-size: 9px;
        letter-spacing: 0.9px;
        background: url("/images/sale.png") no-repeat;
        text-align: right;
        float: left;
        margin-top: 23px;
        text-decoration: line-through;
    }
    
    .wish-list-4>span::after {
        background: url("/images/hit.png") no-repeat;
        display: inline-block;
        content: "";
        width: 34px;
        height: 19px;
        margin-top: 23px;
    }
    
    .wish-list>li>span>img {
        position: absolute;
    }
    /* Button Style */
    
    .wish-list div {
        max-width: 240px;
        height: 90px;
        margin-top: 15px;
        margin-left: 9.3%;
        float: left;
    }
    
    .wish-list>li>div>button {
        font-size: 12px;
    }
    
    .size {
        width: 90px;
        height: 30px;
        background: #f6f6f6;
        border-radius: 20px;
        font-family: "PT-Serif";
        color: #868686;
        margin-right: 11px;
        text-align: left;
        padding-left: 20px;
    }
    
    .size::after {
        content: "";
        width: 6px;
        height: 6px;
        display: inline-block;
        margin-left: 28px;
        transform: translateY(-1px);
        background: url("/images/down.png") no-repeat;
    }
    
    .add-to-cart {
        width: 110px;
        height: 30px;
        background: #1f4ba5;
        border-radius: 20px;
        font-family: "Varela-Round";
        color: #ffffff;
    }
    
    .add-to-wishlist {
        font-family: "PT-Serif";
        color: #b8b8b8;
        line-height: 17px;
        margin-top: 11px;
        background: none;
    }
    
    .add-to-wishlist::before {
        display: inline-block;
        content: "";
        width: 17px;
        height: 14px;
        background: url('/images/add-to-wishlist.png');
        margin-right: 7px;
        transform: translateY(3px);
    }

    /* Product List Bottom */

    .product-list-bottom li{
        position: relative;
        font-family: "Varela-Round";
        text-align: center;
        float: left;
        height: 240px;
        z-index: 2;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
    }
    .product-list-bottom li:nth-child(1), .product-list-bottom li:nth-child(5){
        border-left: 1px solid #ececec;
    }
    
    .product-list-bottom h3{
        font-size: 12px;
        line-height: 16px;
        min-height: 32px;
        max-width: 160px;
        display: block;
        margin: 29px auto 11px auto;
    }
    .product-list-bottom img{
        text-align: center;
        margin: 0 auto;
    }
    .product-list-bottom span{
        display: block;
        margin: 28px auto 29px auto;
        font-family: "Oswald-Bold";
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    .product-list-bottom span::before{
        content: "";
        position: absolute;
        width: 34px;
        height: 19px;
        left: 20px;
        transform: translateY(1px);
    }
    .product-list-bottom-4 span::before{
        background: url("/images/sale.png") no-repeat;
    }
    .product-list-bottom-7 span::before{
        background: url("/images/new.png") no-repeat;
    }
    