    @charset "utf-8";
    @import url("/css/normalize.css");
    @import url("/css/fonts.css");
    /* Box-Sizing */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
/* Common Fonts */
.product-list-bottom span, .wish-list>li>span, .product-list-top span{
    font-family:"Oswald-Bold";
}
.wish-list h3>span, .size, .add-to-wishlist, input[type=checkbox] + label, input[type=checkbox]:checked + label::before{
    font-family: "PT-Serif";
}
.product-list-top li, .wish-list h3, .add-to-cart,.product-list-bottom li{
    font-family: "Varela-Round";
}
    /* CSS Reset */
    
    html,body,button,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset, form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* Grid System */
    
    .col-1 {width: 120px;}
    .col-2 {width: 240px;}
    .col-3 {width: 360px;} 
    .col-4 {width: 480px;}
    .col-5 {width: 600px;}
    .col-6 {width: 720px;}
    .col-7 {width: 840px;}
    .col-8 {width: 960px;}


    /* Hidden Contents */
    
    .readable-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
    }
    /* Clearfix */
    .clearfix::after {
        content: "";
        clear: both;
        display: block;
      }
    /* List Style */
    li {
        list-style: none;
    }
    /* Mall Style */
    
    .mall {
        max-width: 960px;
        position: relative;
        margin: 0 auto;
        height: auto;
        clear: both;
    }

    /* Sale style */
    .sale{
        color: #ff3f2b;
    }
    /* Product-Clicked */
.product-list{
    position: relative;
}
    .product-clicked{
        display: none;
        position: relative;
        transform: translateY(-104%);
        opacity: 0.8;
        background: darkblue;
        vertical-align: center;
        text-align: center;
    }
    .product-clicked-buttons{
       text-align: center;
       margin-top: auto;
       margin-bottom: auto;
       width: 240px;
       height: 360px;
       transform: translateY(42.5%);
    }

    /* Product-List-Top Style */

    .product-list-top li {
        position: relative;
        text-align: center;
        float: left;
        height: 360px;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
        z-index: 200;
    }
    .product1{
        border-left: 1px solid #ececec;
    }
    
    .product-list-top li>h3 {
        font-size: 12px;
        line-height: 16px;
        min-height: 29px;
        max-width: 170px;
        display: inline-block;
        margin: 29px auto 49px auto;
        position: relative;
        color: #222222;
        z-index: 202;
    }
    
    .product-list-top img {
        /* max-height: 100%;
        max-width: 100%;  이미지 크기 자동 조정*/
        text-align: center;
        margin: 0 auto;
    }
    
    .product-list-top span {
        display: block;
        margin: 63px auto 29px auto;
        font-size: 12px;
        letter-spacing: 1.2px;
        position: relative;
        z-index: 203;
    }
    /* Product-List-Top Each Style */
    
    .product-list-top span::before {
        content: "";
        position: absolute;
        width: 34px;
        height: 19px;
        left: 20px;
        transform: translateY(1px);
    }
    
    .product1 span::before {
        background: url('/images/hit.png') no-repeat;
    }
    
    .product2 span::before {
        background: url('/images/sale.png') no-repeat;
    }
    
    .product4 span::before {
        background: url('/images/new.png') no-repeat;
    }
    
   

    /* wish-list Style*/
    
    .wish-container {
        float: left;
        padding: 15px 0;
        background: #dfdfdf;
    }
    
    .wish-list li {
        display: block;
        float: left;
        width: 76%;
        min-height: 120px;
        border-top: 1px solid #ececec;
        margin: 0 12.5%;
        background: #ffffff;
    }
    
    .wish-list img {
        float: left;
        margin: 15px;
    }
    
    .wish-list h3 {
        font-size: 12px;
        line-height: 16px;
        max-width: 155px;
        height: 90px;
        margin-left: 4%;
        margin-top: 15px;
        float: left;
    }
    
    .wish-list h3>span {
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: #b8b8b8;
        margin-top: 16px;
    }
    
    .wish-list>li>span {
        font-size: 14px;
        letter-spacing: 1.4px;
        width: 32px;
        height: 90px;
        margin-left: 11%;
        margin-top: 15px;
        float: left;
        position: relative;
    }
    
    .wish-list-1>span::after {
        background: url("/images/new.png") no-repeat;
        display: inline-block;
        content: "";
        width: 34px;
        height: 19px;
        margin-top: 23px;
    }
    
    .wish-list-2>span::after {
        content: "$160";
        width: 66px;
        height: 19px;
        color: #a1a1a1;
        font-size: 9px;
        letter-spacing: 0.9px;
        background: url("/images/sale.png") no-repeat;
        text-align: right;
        float: left;
        margin-top: 23px;
        text-decoration: line-through;
    }
    
    .wish-list-4>span::after {
        background: url("/images/hit.png") no-repeat;
        display: inline-block;
        content: "";
        width: 34px;
        height: 19px;
        margin-top: 23px;
    }
    
    .wish-list>li>span>img {
        position: absolute;
    }
    /* Button Style */
    
    .wish-list div {
        max-width: 240px;
        height: 90px;
        margin-top: 15px;
        margin-left: 9.3%;
        float: left;
    }
    
    .wish-list>li>div>button,select {
        font-size: 12px;
    }
    .size {
        width: 90px;
        height: 30px;
        background: #f6f6f6;
        border-radius: 20px;
        color: #868686;
        margin-right: 11px;
        text-align: left;
        padding-left: 20px;
    }
    
    .size::after {
        content: "";
        width: 6px;
        height: 6px;
        display: inline-block;
        margin-left: 28px;
        transform: translateY(-1px);
        background: url("/images/down.png") no-repeat;
    }
    
    .add-to-cart {
        width: 110px;
        height: 30px;
        background: #1f4ba5;
        border-radius: 20px;
        color: #ffffff;
        font-size: 12px;
    }
    
    .wish-list-btn>.add-to-wishlist-box{
        transform: translateX(-20px);
    }

    input[type=checkbox] { display:none; }
    
    input[type=checkbox] + label { 
    display: inline-block; 
    padding-left: 22px; 
    background: url('/images/add-to-wishlist.png') no-repeat; 
    height: 14px;
    line-height: 14px;
    font-size:12px;
    color: #b8b8b8;
    }
    
    input[type=checkbox]:checked + label {
     background: url('/images/added.png') no-repeat;
     height: 14px;
     line-height: 14px;
     font-size:12px;
     vertical-align: middle;
     padding-top: 14px;
     overflow: hidden;
     }
    
    input[type=checkbox]:checked + label::before{
    content: "Added";
    display: block;
    font-size: 12px;
    color: #b8b8b8;
    line-height: 14px;
    position: absolute;
    transform: translateY(-14px);
    }
    
    /* Product List Bottom */

    .product-list-bottom li{
        position: relative;
        text-align: center;
        float: left;
        height: 240px;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
        z-index: 300;
    }
    .product5, .product9{
        border-left: 1px solid #ececec;
    }
    
    .product-list-bottom h3{
        font-size: 12px;
        line-height: 16px;
        min-height: 32px;
        max-width: 160px;
        display: block;
        position: relative;
        margin: 29px auto 11px auto;
        z-index: 302;
    }
    .product-list-bottom img{
        text-align: center;
        margin: 0 auto;
    }
    .product-list-bottom span{
        display: block;
        margin: 28px auto 29px auto;
        font-size: 12px;
        position: relative;
        letter-spacing: 1.2px;
        z-index: 303;
    }
    .product-list-bottom span::before{
        content: "";
        position: absolute;
        width: 34px;
        height: 19px;
        left: 20px;
        transform: translateY(1px);
    }
    .product8 span::before{
        background: url("/images/sale.png") no-repeat;
    }
    .product11 span::before{
        background: url("/images/new.png") no-repeat;
    }
    