@charset "utf-8";
@import url("./normalize.css");

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: red;
}

/* Main */

.main-section-header{
  background-image: url('./images/sprite_main.png');
  background-repeat: no-repeat;
  min-height:60px;
  margin-left:10px;
  padding:5px 0 0 65px;
}

.recommendation-header{
  background-position:0 0;
}

.recommendation-figure{
  text-align: center;
}

.recommendation-figure > img{
  max-width:100%;
  height:auto;
}

.recommendation-figure > figcaption{
  margin: 10px 0;
}

.recommendation-figure > p{
  color:#B3D180;
  font-size:2rem;
}

.recommendation-header > span{
  color:#B3D180;
}

@media (max-width: 999px) {
  .container {
    position: relative;
  }
  /* Header */
  .header {
    background-color: #38302e;
  }
  .logo {
    display: block;
    margin: 10px;
  }
  .member {
    padding: 10px;
    display: block;
    text-align: right;
    background-color: #988574;
  }
  .member li {
    padding: 10px;
    display: inline;
    color: white;
    font-size: 0.8rem;
  }
  .search {
    display: block;
    text-align: center;
    padding: 10px;
  }

  /* Navigation */
  .navigation {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .navigation.clicked {
    transform: translateX(0);
  }

  /* navigation__menuButton */

  .menu-button {
    font-size: 0;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 100px;
    width: 50px;
  }
  .menu-button-stick {
    width: 40px;
    height: 6px;
    background: #ffffff;
    display: inline-block;
  }
  .menu-button > .second {
    margin-top: 5px;
  }
  .menu-button > .third {
    margin-top: 5px;
  }
  .menu-button.clicked > .first {
    transform: rotate(45deg);
    margin-bottom: -10px;
  }
  .menu-button.clicked > .second {
    transform: translateX(-50px);
    display: none;
  }
  .menu-button.clicked > .third {
    transform: rotate(-45deg);
  }

  /* navigation__main-menu */

  .main-menu {
    margin: 50px auto 0 50px;
    text-align: left;
    min-width: 200px;
    height: 100vh;
  }
  .main-menu > ul {
    color: #ffffff;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 20px;
    overflow: hidden;
    height: 1.2rem;
  }
  .main-menu > ul.clicked {
    overflow: initial;
    height: initial;
  }
  .main-menu > ul::before {
    content: "+";
  }
  .main-menu > ul.clicked::before {
    content: "-";
  }
  .main-menu > ul > li {
    font-size: 1rem;
    list-style: none;
    margin-left: 15px;
  }
  
  /* Main */

  .main-content {
    margin-top: 20px;
    height: auto;
  }

  .recommendation
  .News,
  .board,
  .twitter,
  .favorite {
    text-align: center;
    display: block;
  }

  /* Recommendation */

  .recommendation > figure{
    text-align: center;
  }

  .slogan {
    display: block;
    text-align: center;
    background-color: darkgrey;
  }
  footer {
    background-color: silver;
  }
}
@media (min-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .header,
  .main-menu,
  .main-content,
  .slogan {
    width: 80%;
    margin: 0 auto;
  }
  /* header */

  .header {
    position: relative;
  }
  .logo {
    display: inline-block;
    position: absolute;
    margin-left: 0 0 0 3%;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  .member {
    display: block;
    text-align: right;
    margin: 15px 0 0 0;
  }
  .member li {
    padding: 10px;
    display: inline;
  }
  .search {
    text-align: right;
    margin: 40px 0 0 0;
  }

  /* navigation */
  .menu-button {
    display: none;
  }
  .navigation {
    margin-top: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: #988574;
  }
  .main-menu {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
  }
  .main-menu span {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .main-menu > ul > li {
    padding: 5px;
    font-size: 1rem;
    list-style: none;
  }
 

  /* Main */

  .main-content {
    margin-top: 20px;
    height: auto;
  }
  .main-contents-1 {
    display: block;
  }

  /* Recommendation */
  
  .recommendation {
    display: inline-block;
    width: 35%;
  }

  /* News */
  
  .News {
    display: inline-block;
    width: 70%;
    border: 1px solid red;
  }
  .main-contents-2 {
    display: block;
    background-color: yellow;
  }
  .board,
  .twitter,
  .favorite {
    display: inline-block;
    border: 1px solid red;
  }
  .board {
    width: 30%;
  }
  .twitter {
    width: 38%;
  }
  .favorite {
    width: 30%;
  }
  .slogan {
    display: block;
    text-align: center;
    background-color: darkgrey;
  }
  footer {
    background-color: silver;
  }
}
