@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'fontello';
  src: url('font/fontello.eot?77612171');
  src: url('font/fontello.eot?77612171#iefix') format('embedded-opentype'), url('font/fontello.woff2?77612171') format('woff2'), url('font/fontello.woff?77612171') format('woff'), url('font/fontello.ttf?77612171') format('truetype'), url('font/fontello.svg?77612171#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'BebasNeuewebfont';
  src: url('font/BebasNeuewebfont.eot');
  src: local('font/BebasNeuewebfont'), url('font/BebasNeuewebfont.woff') format('woff'), url('font/BebasNeuewebfont.ttf') format('truetype');
}